/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
    background: url('../img/common/background.png') no-repeat;
    background-size: cover;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.content-info {
    max-width: 1150px;
    margin: 2% auto;
    font-size: 0;
    background: #2480c3;
    box-shadow: 3px 3px 6px #949494;
    border-radius: 3px;
    overflow: hidden;
}
.feedback-info {
    width: 30%;
    vertical-align: top;
    font-size: 16px;
    background: #2480c3;
    display: inline-block;
    position: relative;
}
.feedback-logo {
    text-align: center;
    padding: 30px 0;
}
.feedback-logo img {
    background: #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.feedback-logo span {
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    padding: 10px 0 20px;
}
.about-system {
    padding: 0 50px 150px;
}
.about-system span {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    padding-bottom: 10px;
    display: block;
}
.about-system li span {
    display: inline-block;
    font-size: 14px;
    font-weight: initial;
    width: 10px;
    vertical-align: top;
    line-height: 1.3em;
}
.about-system li span:last-child {
    width: 93%;
}
.staff-list {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 70px 20px 20px;
    box-sizing: border-box;
    font-size: 0;
    max-height: 600px;
    min-height: 600px;
    overflow-y: auto;
    position: relative;
    background: #fff;
}
.staff-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 50%;
}
.staff-item {
    display: inline-block;
    width: 31.6%;
    vertical-align: top;
    box-shadow: 1px 1px 7px #d0d0d0;
    text-align: center;
    padding: 15px 10px;
    box-sizing: border-box;
    margin-right: 2.5%;
    max-height: 260px;
    min-height: 260px;
    border: 1px solid #80c4cf;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
}
.staff-item:nth-child(3n) {
    margin-right: 0;
}
.staff-name {
    font-size: 14px;
    display: block;
    color: #333;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
}
.staff-info {
    display: block;
    border-top: 1px solid #ccc;
    text-align: left;
    margin-top: 15px;
    padding: 10px 0;
}
.staff-info dl dt {
    font-weight: bold;
    display: inline-block;
    width: 37%;
    font-size: 12px;
    line-height: 1.5em;
    vertical-align: top;
}
.staff-info dl dd {
    display: inline-block;
    width: 63%;
    font-size: 12px;
    line-height: 1.5em;
    vertical-align: top;
}
.staff-item a {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
    background: #1cad1c;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.staff-item .staff-button {
    position: absolute;
    bottom: -60%;
    left: 0;
    width: 99.9%;
    background: #ffffff;
    padding: 35px 0;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    transition: 0.5s;
}
.staff-item:hover {
    background: #9c9c9c;
}
.staff-item:hover .staff-button {
    bottom: 0;
}
.staff-total {
    font-size: 15px;
    position: absolute;
    top: 25px;
    right: 25px;
}
.staff-list input {
    padding: 10px 5px;
    position: absolute;
    right: 198px;
    top: 15px;
    box-sizing: border-box;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.staff-list button {
    position: absolute;
    top: 14px;
    right: 130px;
    background: blue;
    border: 1px solid blue;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.about-me span {
    font-size: 18px;
    color: #fff;
    padding-bottom: 15px;
    display: block;
}

.about-me li span {
    display: inline-block;
    font-size: 14px;
    font-weight: initial;
    width: 35%;
    vertical-align: top;
    line-height: 1.3em;
    font-weight: bold;
    color: #fff;
    line-height: 2em;
    padding-bottom: 0;
    vertical-align: top;
}
.about-me li span:nth-child(2) {
    display: inline-block;
    font-size: 14px;
    font-weight: initial;
    width: 63%;
    vertical-align: top;
    line-height: 2em;
}
.about-me {
    padding: 0 20px 150px;
}
.form {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding: 45px 100px 20px;
    box-sizing: border-box;
    min-height: 600px;
    max-height: 600px;
    overflow-y: auto;
    background: #fff;
}
.form-group .form-question {
    font-size: 15px;
    display: block;
    font-weight: bold;
    padding-bottom: 10px;
}
.form-radio {
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    background: #e6e6e6;
    border: 1px solid #c5b5b5;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    display: block;
    cursor: pointer;
}
.form-input {
    display: inline-block;
    width: 18%;
    vertical-align: middle;
    margin-right: 8px;
}
.form-answer {
    padding: 7px 0 15px;
    text-align: left;;
    width: 95%;
}
input[type="radio"] {
    position: absolute;
    visibility: hidden;
}
.form-group {
    margin-bottom: 10px;
}
textarea {
    width: 95%;
    background: #fff;
    border: 1px solid #ccc;
    resize: none;
    height: 200px;
    border-radius: 5px;
}
.submit {
    background: #2f2fff;
    border: 1px solid #2f2fff;
    color: #fff;
    width: 50%;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}
.submit:hover {
    transition: 0.3s;
    background: #fff;
    color: #2f2fff;
}
.form-answer-button {
    text-align: center;
}

input[type="radio"]:checked ~ label {
    background: #faff14;
    color: #333;
    font-weight: bold;
}
.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
}
.back-button img {
    width: 35px;
}
.form-login {
    padding: 100px 100px 20px;
    position: relative;
}

.form-login-group {
    display: block;
    width: 100%;
    font-size: 16px;
    padding-block-start: 20px;
}
.form-login-group label {
    display: block;
    padding-bottom: 10px;
    font-weight: bold;
}
.form-login-input {
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 5px;
    padding: 12px;
}
.form-login-button-wrapper {
    display: block;
    text-align: center;
    padding: 35px 0 0;
}
.form-login-button {
    width: 50%;
    display: inline-block;
    border: 1px solid #2480c3;
    background: #2480c3;
    color: #fff;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.form-login-button:hover {
    background: #fff;
    color: #2480c3;
}
.form-login-title {
    position: absolute;
    top: 45px;
    left: 200px;
    font-size: 20px;
    font-weight: bold;
    font-family: initial;
}
.admin-info {
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.admin-info span {
    display: block;
    text-align: center;
    line-height: 1.5em;
}
.admin-name {
    font-weight: bold;
}
.logout {
    background: #ff4242;
    border: 1px solid #ff4242;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    display: inline-block;
    width: 50%;
    margin-top: 20px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 16px;
}
.logout:hover {
    background: #fff;
    color: #ff4242;
}
.admin-content {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
    font-size: 0;
    position: relative;
}
.admin-link-item {
    font-size: 16px;
    display: inline-block;
    width: 33.334%;
    text-align: center;
    border-right: 1px solid #2480c3;
    box-sizing: border-box;
    vertical-align: top;
}
.admin-link-item a {
    text-decoration: none;
    border-bottom: 1px solid #2480c3;
    display: block;
    padding: 20px;
    background: #ffffff;
    color: #2480c3;
    transition: 0.3s;
}
.admin-link-item a:hover {
    background: #2480c3;
    color: #fff;
}

.admin-link-item a.active {
    background: #2480c3;
    color: #fff;
    font-weight: bold;
}
.feedback-logo-admin {
    padding: 55px 0;
}
.admin-detail {
    padding: 20px 100px;
}
.form-register {
    display: block;
    margin-bottom: 10px;
}
.form-register-label {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    font-size: 14px;
    font-family: inherit;
}
.form-register-input {
    display: inline-block;
    width: 72%;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px;
    box-sizing: border-box;
}
.form-error {
    font-size: 12px;
    color: #f00;
    display: inline-block;
    margin-top: 5px;
    width: 75%;
    margin-left: 152px;
}
.form-register-button {
    display: block;
    text-align: center;
}
.form-register-button {
    width: 72%;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.feedback-table-head {
    font-size: 14px;
}
.feedback-table-item {
    font-size: 12px;
    width: 300px;
}
.feedback-table {
    padding: 40px;
    min-height: 450px;
}
.feedback-table-view {
    width: 100% !important;
    padding-top: 20px !important;
}
.button-delete-wrapper {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
}
.button-view-wrapper {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
}
.button-view {
    width: 100%;
    display: block;
    background: #2480c3;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #2480c3;
    transition: 0.3s;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
}
.button-view:hover {
    color: #2480c3;
    background: #fff;
}

.button-delete {
    width: 100%;
    display: block;
    background: #f55236;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #f55236;
    transition: 0.3s;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
}
.button-delete:hover {
    color: #f55236;
    background: #fff;
}
.feedback-table-head {
    text-align: center;
}
.feedback-table-item:last-child {
    text-align: center;
}
.dataTables_filter {
    font-size: 14px;
}
.dataTables_filter input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.dataTables_length select {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 80px;
}
.feedback-table-item:nth-child(3) {
    text-align: center;
}