/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
    background: url('../img/common/background.png') no-repeat;
    background-size: cover;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.content-info {
    max-width: 1150px;
    margin: 3% auto 0;
    font-size: 0;
    background: #fff;
    box-shadow: 3px 3px 6px #949494;
    border-radius: 3px;
    overflow: hidden;
}
.feedback-info {
    width: 30%;
    vertical-align: top;
    font-size: 16px;
    background: #2480c3;
    display: inline-block;
}
.feedback-logo {
    text-align: center;
    padding: 30px 0;
}
.feedback-logo img {
    background: #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.feedback-logo span {
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    padding: 10px 0 20px;
}
.about-system {
    padding: 0 50px 150px;
}
.about-system span {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    padding-bottom: 10px;
    display: block;
}
.about-system li span {
    display: inline-block;
    font-size: 14px;
    font-weight: initial;
    width: 10px;
    vertical-align: top;
    line-height: 1.3em;
}
.about-system li span:last-child {
    width: 93%;
}
.staff-list {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 70px 20px 20px;
    box-sizing: border-box;
    font-size: 0;
    max-height: 600px;
    min-height: 600px;
    overflow-y: auto;
    position: relative;
}
.staff-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 50%;
}
.staff-item {
    display: inline-block;
    width: 31.6%;
    vertical-align: top;
    box-shadow: 1px 1px 7px #d0d0d0;
    text-align: center;
    padding: 15px 10px;
    box-sizing: border-box;
    margin-right: 2.5%;
    max-height: 260px;
    min-height: 260px;
    border: 1px solid #80c4cf;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
}
.staff-item:nth-child(3n) {
    margin-right: 0;
}
.staff-name {
    font-size: 14px;
    display: block;
    color: #333;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
}
.staff-info {
    display: block;
    border-top: 1px solid #ccc;
    text-align: left;
    margin-top: 15px;
    padding: 10px 0;
}
.staff-info dl dt {
    font-weight: bold;
    display: inline-block;
    width: 37%;
    font-size: 12px;
    line-height: 1.5em;
    vertical-align: top;
}
.staff-info dl dd {
    display: inline-block;
    width: 63%;
    font-size: 12px;
    line-height: 1.5em;
    vertical-align: top;
}
.staff-item a {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
    background: #1cad1c;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.staff-item .staff-button {
    position: absolute;
    bottom: -60%;
    left: 0;
    width: 99.9%;
    background: #ffffff;
    padding: 35px 0;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    transition: 0.5s;
}
.staff-item:hover {
    background: #9c9c9c;
}
.staff-item:hover .staff-button {
    bottom: 0;
}
.staff-total {
    font-size: 15px;
    position: absolute;
    top: 25px;
    right: 25px;
}
.staff-list input {
    padding: 10px 5px;
    position: absolute;
    right: 198px;
    top: 15px;
    box-sizing: border-box;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.staff-list button {
    position: absolute;
    top: 14px;
    right: 130px;
    background: blue;
    border: 1px solid blue;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.about-me span {
    font-size: 18px;
    color: #fff;
    padding-bottom: 15px;
    display: block;
}

.about-me li span {
    display: inline-block;
    font-size: 14px;
    font-weight: initial;
    width: 35%;
    vertical-align: top;
    line-height: 1.3em;
    font-weight: bold;
    color: #fff;
    line-height: 2em;
    padding-bottom: 0;
    vertical-align: top;
}
.about-me li span:nth-child(2) {
    display: inline-block;
    font-size: 14px;
    font-weight: initial;
    width: 63%;
    vertical-align: top;
    line-height: 2em;
}
.about-me {
    padding: 0 20px 150px;
}
.form {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding: 45px 100px 20px;
    box-sizing: border-box;
    min-height: 580px;
    max-height: 580px;
    overflow-y: auto;
}
.form-group .form-question {
    font-size: 15px;
    display: block;
    font-weight: bold;
    padding-bottom: 10px;
}
.form-radio {
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    background: #e6e6e6;
    border: 1px solid #c5b5b5;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    display: block;
    cursor: pointer;
}
.form-input {
    display: inline-block;
    width: 18%;
    vertical-align: middle;
    margin-right: 8px;
}
.form-answer {
    padding: 7px 0 15px;
    text-align: left;;
    width: 95%;
}
input[type="radio"] {
    position: absolute;
    visibility: hidden;
}
.form-group {
    margin-bottom: 10px;
}
textarea {
    width: 95%;
    background: #fff;
    border: 1px solid #ccc;
    resize: none;
    height: 200px;
    border-radius: 5px;
}
.submit {
    background: blue;
    border: 1px solid blue;
    color: #fff;
    width: 50%;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
}
.form-answer-button {
    text-align: center;
}

input[type="radio"]:checked ~ label {
    background: #faff14;
    color: #333;
    font-weight: bold;
}